body {

  background-color: rgb(240, 240, 240);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgb(245, 245, 245);
}

form {
  width: 70%;
  height: 75px;
  gap: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgb(231, 241, 240);
  border: 2px solid rgb(215, 224, 223);
  border-radius: 10px;
  box-shadow: 3px 5px 5px lightgray;
}

form label {
  font-weight: bold;
}

.pokeDisplay {
  width: 50%;
  min-width: 500px;
  height: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgb(250, 250 , 250);
  border: 2px solid lightgray;
  border-radius: 10px;
  box-shadow: 5px 10px 10px lightgray;
}



.pokeDisplay p span {
  font-weight: bold;
}

.pokeDisplay img {
  width: 80%;
  height: auto;
}
